version: '3'
services: 

    ghost:
        build: .
        restart: always
        container_name: ghost
        ports:
          - 2368:2368
        environment:
          # see https://docs.ghost.org/docs/config#section-running-ghost-with-config-env-variables
          database__client: mysql
          database__connection__host: db
          database__connection__user: root
          database__connection__user: root



          
          database__connection__password: example
          database__connection__database: ghost
          url: https://meddler.xyz/
          admin_url: https://admin.meddler.xyz
          NODE_ENV: production
          # mail__transport: SMTP
          # mail__from: "'Custom Name' <noreply@meddler.xyz>"
          mail__options__service: mailgun
          mail__options__host: smtp.mailgun.org
          # mail__options__port: 25
          # mail__options__secureConnection: 'false'

          # mail__options__host: smtp.mailgun.org
          # mail__options__secureConnection: "true"
        #   mail__options__port: 465
          mail__options__auth__user: noreply@secops.meddler.xyz
          mail__options__auth__pass: 37aeafe38456225a454541956d82a04d-65b08458-d3161f28

        volumes: 
            - ./content/content:/var/lib/ghost/content
        depends_on: 
            - db


    db:
        image: mysql:5.7
        restart: always
        container_name: db
        environment:
            MYSQL_ROOT_PASSWORD: example
        expose:
            -   3306

        # volumes:
            # - ./db:/var/lib/mysql